
.navbar-brand{
    font-size: 40px;
}

.navbar-brand,ul li{
    font-family: 'Slabo 27px', serif;
}


.intro-left{
    background-color:rgb(0, 0, 0);
    position:fixed;
    left: 0;
    width: 25%;
    height: 100%;
    margin-top: 40px;
}

.me{
    width:236px;
    height:250px;
    margin-top: 60px;
    /* margin-right: 50px; */
    
}

.intro-left{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/44/138/362/leaves-green-abstract-leaves-wallpaper-preview.jpg);
    position:fixed;
    right: 0;
    width: 30%;
    height: 100%;
    
}

.bd{
    border: 15px solid rgb(248, 232, 10); 
    margin-top: 26px;
    margin-left: 28px;
    height:480px;
     width:280px;
    }
    .bd1{
        border: 15px solid rgb(82, 82, 82); 
        height:440px;
         width:130px;
        }



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:350px;
    height: 250px;
    margin: 50px 30px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(46, 34, 34, 0.2);
    transform: scale(1.2);
  }

  

@media screen and (min-width:320px) and (max-width:480px){

    header{
        top:0;
    }

    .navbar-brand{
        font-size: 25px;
    }


    .intro-left{
        position:relative;
        width:100%;
        height:70%;
        
    }

    ul li a{
        margin-right: auto;
    }

    .sec-2{
        margin-top: 1px;
    }

    .me{
        width:190px;
        height:250px;
        margin-top: 60px;
        margin-right: 0px;
    }

    .bd{
        width:220px;
    }

   
.card{
        margin: 50px 0px;}
    
}

@media screen and (min-width:480px) and (max-width:768px){

    .intro-left{
        position:fixed;
        width:40%;
        height:100%;}

        .me{
            margin-left: 0px;
            margin-top: 55px;
            width:165px;
            height:210px;
        }
    
        .bd{
        margin-left: 40px;
        height:390px;
         width:190px;
        }
    
        .bd1{
            height:340px;
            }
        
        .card{
           
            margin-left: 150px;
        }
}